*{
    margin:0;
    padding:0;
    text-align: center;
}

h1 {
    background-color:darkslategray ;
    color: cornflowerblue;
    font-size: 40pt;
    height: 100px;
    line-height: 100px;
    
}

choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

.choice:hover{
    cursor: pointer;
    opacity: 50%;
}

img{
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap:3rem;

}
.scores{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    font-size: 2rem;
    gap: 4rem;
    

}
#compscore,#userscore{
    font-size: 4rem;
}
.msges{
    font-size: 2rem;
    line-height: 2rem;
}
#msg{
    display:inline;
    background-color: blue;
    color: azure;
    border-radius: 15%;
    padding:0.5rem;
}
.info{
    margin-top:2rem;
    justify-content: center;

}
